<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.broker.mapper.RuletriggerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.broker.pojo.Ruletrigger">
        <result column="scenes_id" property="scenesId" />
        <result column="scene_version" property="sceneVersion" />
        <result column="area_id" property="areaId" />
        <result column="detection_no" property="detectionNo" />
        <result column="detection_tag" property="detectionTag" />
        <result column="warn" property="warn" />
        <result column="warn_row" property="warnRow" />
        <result column="warn_index" property="warnIndex" />
        <result column="image_collect" property="imageCollect" />
        <result column="image_collect_row" property="imageCollectRow" />
        <result column="event_time" property="eventTime" />
        <result column="id" property="id" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        scenes_id, scene_version, area_id, detection_no, detection_tag, warn, warn_row, warn_index, image_collect, image_collect_row, event_time, id
    </sql>

</mapper>
